<h1 mat-dialog-title>
  {{
    editingCourses
      ? "Editando a " + editingCourses.name
      : "Creando Curso"
  }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="coursesForm" class="grid">
    <!-- CAMPO DE NOMBRE -->
    <!-- CAMPO DE NOMBRE -->
    <!-- CAMPO DE NOMBRE -->
    <div class="col-6 field">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput type="text" name="name" />
        <!-- ERRORES -->
        <mat-error *ngFor="let error of nameControl.errors | keyvalue">
          {{ error | controlErrorMessage }}
        </mat-error>
      </mat-form-field>

      <pre>{{ nameControl.errors | keyvalue | json }}</pre>
    </div>
    <!-- CAMPO DE NOMBRE -->

    <div class="col-6 field">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput type="text" name="description" />

        <mat-error *ngFor="let error of descriptionControl.errors | keyvalue">
          {{ error | controlErrorMessage }}
        </mat-error>
      </mat-form-field>
    </div>


  </form>
</div>
<div class="flex justify-content-end" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>
